<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="~/Scripts/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/fontawesome.css">
    <link rel="stylesheet" href="~/Content/templatemo-sixteen.css">
    <link rel="stylesheet" href="~/Content/owl.css">
    <link rel="stylesheet" href="~/Content/Site.css">
    <script src="~/Scripts/vendor/jquery/jquery.min.js"></script>
    <script src="~/Scripts/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/NuevosScripts/custom.js"></script>
    <script src="~/Scripts/NuevosScripts/owl.js"></script>
    <script src="~/Scripts/NuevosScripts/slick.js"></script>
    <script src="~/Scripts/NuevosScripts/isotope.js"></script>
    <script src="~/Scripts/NuevosScripts/accordions.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">

</head>
<header>
    <nav class="navbar navbar-expand-lg" id="navbar">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("GetAll", "Venta")"><h2>Prueba <em>AliCervantes</em></h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                @{
                    Capa_de_Modelo.Usuario usuario = new Capa_de_Modelo.Usuario();
                    usuario = (Capa_de_Modelo.Usuario)(Session["Usuario"]);
                }
                @if (usuario.Rol.IdRol == 1)
                {
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("GetAll", "Producto")">Producto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("GetAll", "Sucursal")">Sucursal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("GetAll", "Venta")">Venta</a>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("GetAll", "Venta")">Venta</a>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </nav>
</header>

<body>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
