@model Capa_de_Modelo.Producto
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/EstiloTabla.css">

    <script src="~/Scripts/vendor/jquery/jquery.min.js"></script>
    <script src="~/Scripts/NuevosScripts/popper.js"></script>
    <script src="~/Scripts/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/NuevosScripts/main.js"></script>

</head>

<body>
    <section class="ftco-section" style="margin: 80px auto;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section" >Productos existentes</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="text-right mb-4">Selecciona un producto para editalo, o + para agregar uno nuevo...</h4>
                    <div class="row mb-4 justify-content-end">
                        <div class="d-flex justify-content-end">
                            @Html.ActionLink("+", "Form", "Producto", htmlAttributes: new { @class = "btn btn-success" })
                        </div>
                    </div>
                    @if (Model.Productos != null)
                    {
                        <div class="table-wrap">
                            <table class="table">
                                <thead class="thead-primary">
                                    <tr>
                                        <th>Editar</th>
                                        <th style="display:none;">IdProducto</th>
                                        <th>Nombre</th>
                                        <th>Precio</th>
                                        <th>Descripcion</th>
                                        <th>Stock</th>
                                        <th>Imagen</th>
                                        <th>Eliminar</th>
                                    </tr>
                                </thead>
                                <tbody style="vertical-align: middle;">
                                    @foreach (Capa_de_Modelo.Producto producto in Model.Productos)
                                    {
                                        <tr>
                                            <td scope="row" class="scope" style="vertical-align:middle;"><a class="btn btn-warning" href="@Url.Action("Form", "Producto", new { IdProducto = producto.IdProducto })"><i class="bi bi-pen-fill"></i></a></td>
                                            <td style="display:none;" style="vertical-align:middle;">@producto.IdProducto</td>
                                            <td style="vertical-align:middle;">@producto.Nombre</td>
                                            <td style="vertical-align:middle;">@producto.Precio</td>
                                            <td style="vertical-align:middle;">@producto.Descripcion</td>
                                            <td style="vertical-align:middle;">@producto.Stock</td>

                                            @if (producto.Imagen != null)
                                            {
                                                <td><img src="data:image/jpeg;base64,@Convert.ToBase64String(producto.Imagen)" style=" height:150px; width: 150px;" /></td>
                                            }
                                            else
                                            {
                                                <td><img src="~/Content/sinimagen.jpg" style=" height:150px; width:150px;" /></td>
                                            }

                                            <td style="vertical-align:middle;"><a class="btn btn-danger" href="@Url.Action("Delete", "Producto", new { IdProducto= producto.IdProducto})" onclick="return confirm('Desea eliminar el producto?');"><i class="bi bi-trash-fill"></i></a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }

                </div>
            </div>
        </div>
    </section>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>

</body>

<script language="text/Javascript">

    cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
    function clearField(t) {                   //declaring the array outside of the
        if (!cleared[t.id]) {                      // function makes it static and global
            cleared[t.id] = 1;  // you could use true and false, but that's more typing
            t.value = '';         // with more chance of typos
            t.style.color = '#fff';
        }
    }
</script>



